
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    width: 12.5%;
}

table, th, td {
    border: 1px solid black;
}

.timedef {
    text-align: right;
}

.timeval {
    text-align: center;
}

#fuzzball {
    width: 80%;
    max-width: 500px;
}

section {
    margin: 3em 1em;
}

.status-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
    font-family: sans-serif;
}

.door-open {
    color: green;
}

.door-closed {
    color: red;
}

#status {
    font-size: 24pt;
}

#last-change {
    font-size: 16pt;
    color: darkgrey;
}

#doortable {
    overflow-x: auto;
}
