<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/base.css">
		<title>SIPB Office Door</title>
	</head>

	<style>
		#fuzzball {
			display: block;
			margin-left: auto;
			margin-right: auto;

			width: 80%;
			max-width: 500px;
		}

		#status {
			text-align: center;
		}
	</style>

	<body>
		<img id="fuzzball" src="{{ fuzzball_image }}">
		<p id="status">
			The SIPB Office is {{ door_status }} since {{ last_change }}
		</p>
	</body>
</html>
