<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/base.css">
		<title>SIPB Office Door</title>
	</head>

	<body>
		<section class="status-box">
			<img id="fuzzball" src="{{ fuzzball_image }}">
			<div id="status-container">
				<h2 id="status">
					The SIPB Office is <span class="door-{{ door_status }}">{{ door_status }}</span>
				</h2>
				<h3 id="last-change">
					(since {{ last_change }})
				</h3>
			</div>
		</section>

		<section id="doortable">
			<table>
				<thead>
					<tr>
						<th>Week of<br />{{ monday }}</th>
						<th>Monday</th>
						<th>Tuesday</th>
						<th>Wednesday</th>
						<th>Thursday</th>
						<th>Friday</th>
						<th>Saturday</th>
						<th>Sunday</th>
					</tr>
				</thead>
				<tbody>
					{%- for hour in range(24) %}
					<tr>
						<td class="timedef">{{ hour }}:00</td>
						{% for day in range(7) -%}
						{% set idx = day * 24 + hour -%}
						{% if prob_color[idx] %}
						<td class="timeval" style="background-color: hsl(135, 100%, {{ 100 - prob_color[idx][1] }}%)">{{ prob_color[idx][0] }}</td>
						{% else %}
						<td class="timeval" style="background-color: lightgrey;">N/A</td>
						{% endif %}
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>
	</body>
</html>
