[Unit]
Description=A website to monitor the SIPB door
Requires=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Service]
Type=simple
WorkingDirectory=/srv
User=www-data
Group=www-data
ExecStart=uwsgi --ini uwsgi.ini
KillSignal=SIGQUIT
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
